#cube {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: black;
  display: none;
  animation: move 5s infinite linear;
}

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 800px;
  }
}

@media screen and (min-width: 900px) {
  img {
    display: none;
  }

  #cube {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  @keyframes move {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: 800px;
      top: 100px;
    }
  }
}
