@import url('./grid.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px;
  border: 1px solid black;
}

.typeContainer > img {
  height: 50px;
  width: 50px;
}
