/*
    - lorsqu'une propriété est suivai par "!important" : poids => infini
    - element (ex: div) : poids => 1 points
    - une classe (.para) ou un sélecteur d'attribut ([data-test]): poids => 10 points
    - id (#test) : poids => 100 points
*/

/* infini */
[data-test="test2"] {
    background-color: yellow !important;
}

/* 100 */
#paragraphe1 {
    background-color: purple;
}

/* 1 + 10 => 11*/
div.paragraphe {
    background-color: aqua;
}

/* 10 */
.paragraphe {
    background-color: orange;
}

/* 10 */
[data-test="test"] {
 background-color: brown;
}

/* 20 */
.paragraphe.test {
    background-color: tomato;
}