/* Misc */
body {
    background-color: rgba(255, 204, 213, 0.7); /* Lighter than Lightpink */
}

/* Colors */
.bg-pink-secondary {
    background-color: hotpink;
}
.bg-pink-tertiary {
    background-color: pink;
}

.text-pink-secondary {
    color: hotpink;
}

/* Buttons */
.btn.bg-pink-secondary:hover, .btn.bg-pink-secondary:focus {
    border: none;
    color: white;
    background-color: deeppink;
}

/* Cards */
.card {
    width: 300px;
    transition: transform 0.3s ease
}

.card:hover {
    transform: scale(1.02);
}

.card-body i {
    font-size: 60px;
}

.card-body a {
    transition: background-color 0.5s ease;
}

.card-body a:hover {
    color: white;
    background-color: deeppink;
}

/* Logos */
.fa-html5 {
    color: rgb(227, 79, 38);
}

.fa-css3 {
    color: rgb(21, 114, 182);
}
